<h1>Hello from Rails</h1>

<body>
	<p>It is now <%= @time %></p>
	<a href="/say/goodbye">Goodbye!</a>

	<p>
		Play time:
		<%= 1+2 %>
		<%= 'play' + 'time' %>
		<%= 1.hour.from_now.localtime %>
	</p>
	<p>
		Time to say
		<!-- link_to method -->
		<%= link_to "Goodbye", say_goodbye_path %>!
	</p>
	<!-- iterative do for instance variable @files -->
	<ul>
	<% @files.each do |file| %>
		<li>file name is: <%= file %></li>
	<% end %>
</ul>
</body>

